/* Root Styling for Colors */
:root {
    --color-white: #fff;
    --color-lightsteelblue: lightsteelblue;
    --color-orangered: orangered;
    --color-blue: #2937F0;
    --color-black: #000;
    --color-gray-dark: #252424;
    --color-gray-light: #6C757D;
    --color-background: #F8F9FA;
    --color-hero-title: #212529;
    --color-gradient-start: #4032EE;
    --color-gradient-end: #941DE4;
}

/* Universal Selector for Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* Choose a universal font */
}

h2 {
    font-family: 'Newsreader', sans-serif;
}

button,
a,
h3 {
    font-family: "Kanit", sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

/* Navbar Section */
.navbar {
    width: 100%;
    background-color: var(--color-white);
    padding: 1rem 7rem;
    box-shadow: 0 4px 6px -2px var(--color-lightsteelblue);
    border-top: 4px solid var(--color-orangered);
    position: fixed;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-black);
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-link {
    text-decoration: none;
    color: var(--color-gray-dark);

}

.navbar-link:hover {
    color: var(--color-blue);
}

.feedback-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

/* Hero Section */
.hero {
    display: flex;
    gap: 10rem;
    justify-content: start;
    width: 100%;
    height: 100%;
    color: var(--color-background);
    padding: 10rem 7rem;
    background-color: var(--color-background);
}

.hero-content {
    width: 45%;
    padding: 40px 0;
}

.hero-title {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: var(--color-hero-title);
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Newsreader', sans-serif;
}

.hero-subtitle {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: var(--color-gray-light);
}

.download-buttons {
    display: flex;
    gap: 1rem;
}

.store-badge {
    width: 10rem;
    height: 5rem;
}

/* Hero Image Section */
.hero-image {
    position: relative;
    width: 250px;
    height: 500px;
}

.video-container {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 218px;
    height: 474px;
    overflow: hidden;
    z-index: 10;
}

.phone-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/img/portrait_black.png') no-repeat;
    background-size: cover;
    z-index: 10;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

.circle-background {
    width: 370px;
    height: 370px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.bg-circle-1 {
    bottom: 0;
    left: -20%;
}

.bg-circle-2 {
    top: 0;
    right: -20%;
}


/* Intuitive Solution Section  */
.purple-linear-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
    text-align: center;
    padding: 6rem;
}

.purple-linear-bg h2 {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 600;
}

/* Features Section  */
.features-section {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
}

.features-container {
    display: flex;
}

.feature-item {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 15px;
}


.feature-icon {
    width: 60px;
    height: 60px;
}

.feature-item h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: var(--color-hero-title)
}

.feature-item p {
    color: var(--color-gray-light);
    font-size: 1rem;
}


.circle-background-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
    top: 20%;
    right: 50%;
}

/* Web Design Intro Section */
.web-design-intro {
    background-color: var(--color-background);
    padding: 6rem;
}

.web-design-intro div {
    width: 45%;
}

.web-design-intro h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.web-design-intro p {
    color: var(--color-gray-light);
    font-size: 1.3rem;
    line-height: 30px;
}

/* CTA Section */
.cta-section {
    background-color: var(--color-gray-light);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;

}

.cta-section h2 {
    color: var(--color-white);
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.cta-button {
    border: 1px solid var(--color-white);
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: transparent;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* Footer Section */
footer {
    background-color: var(--color-black);
    text-align: center;
    color: var(--color-gray-light);
    padding: 3rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-hero-title);
    margin: 4px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem 3rem;
    }

    .navbar-content {
        display: none;
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 1rem;
        padding: 50px;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--color-white);
    }

    .navbar-content.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .navbar-menu {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-link {
        margin-top: 100px;
        padding: 0;
        font-size: 18px;
    }

    /* Hero Section */
    .hero {
        flex-direction: column;
        padding: 7rem 5rem;
        gap: 5px;
    }

    .hero-content {

        width: 100%;
        text-align: center;
    }

    .hero-title {
        font-size: 3rem;
    }

    
    .download-buttons {
        display: grid;
        height: fit-content;
        gap: 0px;
    }

    .hero-image {
        margin: 0 auto;
    }


    /* Intuitive Solution Section  */
    .purple-linear-bg {
        padding: 3rem;
    }

    .purple-linear-bg h2 {
        line-height: 2.8rem;
    }

    /* Features Section  */
    .features-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    /* Web Design Intro Section */
    .web-design-intro {
        padding: 3rem;
    }

    .web-design-intro div {
        width: 100%;
        text-align: center;
    }

    .web-design-intro h2 {
        font-size: 2.5rem;
    }

    /* CTA Section */
    .cta-section {
        height: 300px;
        padding: 3rem;
        text-align: center;
    }

    .cta-section h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {

    /* Hero Section */
    .circle-background,
    .circle-background-2,
    .bg-circle {
        display: none;
    }

    .hero {
        padding: 4rem 2rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    /* Features Section  */

    .features-container {
        flex-direction: column;
        align-items: center;
    }

    /* Intuitive Solution Section  */
    .purple-linear-bg h2 {
        font-size: 2rem;
        line-height: normal;
    }


}